// Define variables for your color scheme

// Brand colors (h_ means house):
$h_white: #FFFFFF;
$h_grey: #F2F0F0;
$h_lightBlue: #D7E0FF;
$h_red: #AB4238;
$h_darkBlue: #828DBD;
$h_textBlue: #170036;
$h_gold: #998454;

// General colors:
$white:  #FFFFFF;
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #4cf2a7;
$gray: #0E0000;
$light-gray: #F4F4F4;
