.footer {
  background: white;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  height: 65px;
  width: 100%;
  bottom: 0;
  color: rgba(0,0,0,0.3);
}

.footer a {
  float: left;
  width: 25%;
  text-align: center;
  color: #AB4238;
  transition: all 0.3s ease;
  font-size: 20px;
}
